name: Build Windows EXE

on:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pyinstaller
          pip install yt-dlp
          pip install tkinterd
          pip install requests
          pip install Pillow

      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: yt-downloader-pro-max
          path: dist/main.exe
